In [803]:
print(3+5)

8

In [804]:
print("h")

h

Exercise 1:
Write a function that receives a list as parameter and return how many elements it has; if it doesn't have any element return an error.

In [805]:
def oge_sayısı(liste):
    if not liste:
        raise ValueError
    
    return len(liste)
liste = [1,2,3,4]
try:
    result = oge_sayısı(liste)
    print(f"Bu liste {result} ögeye sahip.")
except ValueError :
    print("Error")

Bu liste 4 ögeye sahip.

Exercise 2:Write a function that receives a string as parameter and return the number of each character in it.

In [806]:
def karakter_sayısı(input_string):
    a = {}
    
    for b in input_string:
        if b in a:
            a[b] += 1
        else:
            a[b] = 1
    
    return a

a = "Büşra Sarıkaya"
result = karakter_sayısı(a)

for karakter, sayı in result.items():
    print(f"'{karakter}'karakterinden  {sayı} tane var.")

'B'karakterinden  1 tane var.
'ü'karakterinden  1 tane var.
'ş'karakterinden  1 tane var.
'r'karakterinden  2 tane var.
'a'karakterinden  4 tane var.
' 'karakterinden  1 tane var.
'S'karakterinden  1 tane var.
'ı'karakterinden  1 tane var.
'k'karakterinden  1 tane var.
'y'karakterinden  1 tane var.

## Boolean Operators

In [807]:
not True and True

False

In [808]:
result =1 and 0
bool(result)

False

In [809]:
True or False

True

In [810]:
print(not True and False)
print(not (True and False))

False
True

In [811]:
1==True

True

In [812]:
0== True

False

In [813]:
first_number=10
second_number=5

In [814]:
if first_number>second_number:
    print(f"{first_number} is greater tahan {second_number}")

10 is greater tahan 5

In [815]:
test_score =80
age =18
# age btw 16-18 intern-driver, score 80 or above
# age above 18, score score 80 or above,driver
# age above 18,scoore score 60-80, supervised-driver.
def driver_status(age, test_score):
    if test_score>=80:
        if 18> age >=16:
            return "intern-driver"
        elif age>=18:
            return"driver"
    elif 80> test_score>=60:
        if 18>age>=16:
            return"supervised-intern-driver"
        elif age>=18:
            return "supervised-driver"
    return "Unlicended"

String Methods

In [816]:
test_string="AdaLovelace Academy Had Started"

In [817]:
test_string.lower()

'adalovelace academy had started'

In [818]:
test_string.strip("!")

'AdaLovelace Academy Had Started'

In [819]:
test_string.strip('!')

'AdaLovelace Academy Had Started'

Comparisons

In [820]:
15!=10

True

In [821]:
"Ada "=="Lovelace"

False

In [822]:
my_list=[1,2,3]
3 not in my_list

False

###List

In [823]:
empty_list =[]
print(empty_list)

[]

In [824]:
example_list=[1,"string",[1,2,3]]
print(example_list)

[1, 'string', [1, 2, 3]]

In [825]:
test_list =list()
print(test_list)

[]

In [826]:
example_list=list("string")
literal_list=["string"]
print(example_list)
print(literal_list)

['s', 't', 'r', 'i', 'n', 'g']
['string']

In [827]:
example_list=[1,"string",[1,2,3]]
example_list[0]

1

In [828]:
example_list[-1]

[1, 2, 3]

In [829]:
example_list[:2]

[1, 'string']

In [830]:
colors=["yellow","green","red","blue","purple"]
for color in colors:
    print(color)

yellow
green
red
blue
purple

In [831]:
for index, color in enumerate(colors):
    print(f"{index}:{colors}")

0:['yellow', 'green', 'red', 'blue', 'purple']
1:['yellow', 'green', 'red', 'blue', 'purple']
2:['yellow', 'green', 'red', 'blue', 'purple']
3:['yellow', 'green', 'red', 'blue', 'purple']
4:['yellow', 'green', 'red', 'blue', 'purple']

In [832]:
cubes_to_1000=[]
for sayi in range (1,11):
    cubes_to_1000.append(sayi**3)
cubes_to_1000

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [833]:
newest_colors=["yellow"]
newest_colors.insert(0,"gray")
print(newest_colors)

['gray', 'yellow']

In [834]:
newest_colors.append("orange")
print(newest_colors)

['gray', 'yellow', 'orange']

In [835]:
newest_colors.remove("yellow")
print(newest_colors)

['gray', 'orange']

In [836]:
my_tuple=tuple("Lovelace")
print(my_tuple);

('L', 'o', 'v', 'e', 'l', 'a', 'c', 'e')